  #root{
    width: 100vw;

  }

  table{
    width: 80%;
    margin: 0px auto;
  }
  table, th, td {
    border: 1px solid orange;
  }
  th, td {
    padding: 10px;
  }
  .homeLTHeaders th{
    font-size: 1.5rem;
    background:#d3d3d3;
    text-transform: uppercase;
  }
  .HomeTeams th{
    text-align: left;
  }
  .club-league{
    display: none;
  }
.match-entry{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  height: 100%;
  padding: 20px 0px;
}
.single-side-entry{
  width: 100%;
  padding: 20px;
}
.home-team{
  background:#60afff;
}
.away-team{
  background:#ffff60;
}
.match-vs{
  align-self: center;
}
@media (min-width: 992px) {
  .single-side-entry{
    width: 40%;
    padding: 20px;
  }
  .club-league{
    display: block;
  }
}